body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*start header*/
.header {
  background-color: #fcdb00;
  font-weight: 700;
  color:#010101;

}
.logo_text {
	font-size:30px;
}
.custom_nav ul li a {
	padding: 29px 59px !important;
	color: #010101 !important;
	font-size: 22px;
}
/*end header*/

/*start banner*/
.banner {
 background-color: #fcdb00;	
 padding-top: 40px;
 padding-bottom: 100px;
}
.banner_content {
	margin-top: 80px;
}
.banner_content  h1 {
	font-size: 32px;
	font-weight: 700;
}
.banner_content h1, h6 {
   margin-bottom: 15px;
}
.banner_content h6 {
	font-size: 20px;
}
.banner_content p {
	font-size: 16px;
}
.custom_icon {
  font-size: 50px;
  margin-top: 15px;
}
/*end banner*/ 

/*start feature*/
.feature {
	padding-top: 80px;
	padding-bottom: 100px;
}
.title {
	margin-bottom: 40px;
}
.title h1 {
	font-weight: bold;
	font-size: 32px;
}
.title p {
	font-size: 22px;
	color: #656A71;
	margin-bottom: 30px;
}

.feature_icon {
	font-size: 45px;
}
.feature_text {
	margin:8px 0;
}
.feature_text h1 {
  font-size: 23px;
}
.feature_text p {
    font-size:15px;
    color: #A7A7A7;
}
/*end feature*/

/*start foote*/

.footer{
	background-color: #010101;
	padding:70px 0px 100px 0px;
}
.footer_title {
	margin-bottom: 30px;
}
.footer_title h1 {
   font-weight:700;
   font-size:32px;
   color:#FCDB00;
}
.footer_title p {
	font-size:18px;
	color:#676767;
}
.btn_custom {
	background-color: #FCDB00;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}
.footer_icon {
  margin:40px 0px;
}
.footer_icon i {
  color: #000;
  background-color: #FCDB00;
  width: 50px;
  height: 45px;
  font-size: 40px;
  border-radius: 5px;
  padding:4px 1px;
}
.footer_bottom {
	color: #fff;
	padding:40px 0px;
	line-height: 24px;
}
.footer_bottom h2 {
	text-transform: uppercase;
	font-size: 16px;
}
.footer_bottom p {
	font-size: 16px;
}
.footer_bottom ul li {
	list-style: none;
}
.footer_bottom ul li a {
  text-decoration: none;
  color: #fff;
}
/*end footer*/